<?xml version="1.0" encoding="utf-8" ?>
<input-files>
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\RichKidd_Ventures.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\EU_convocatoria_ES.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\EL_TechnicalTemplateHandling.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\EL_Report.fr.doc" />
</input-files>