<?xml version="1.0" encoding="utf-8" ?>
<input-files>
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\IT_Apogée.odt.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\25406_Center_City_Consortium.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\Redclub_Bridge.odt.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\EU_convocatoria_ES.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\EU_eurobarometer.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\Guide_Licences_Microsoft_mai07.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\RichKidd_Ventures.doc" />
  <file path="\\at100\user\WK\Microsoft\BinConv\Test Suite\OOO_HvadEr.odt.doc" />
</input-files>